{% extends "base.html" %}

{% block bundles %}
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}

{% block content %}
<div class="container">
	<form id="search-playlists">
		<div class="form-group">
			<label for="search-playlists-query">Search Playlists</label>
			<input class="form-control" id="search-playlist-query" type="text">
		</div>
		<button class="btn btn-default" type="submit">Search</button>
	</form>

	<!-- Start playlist creation -->
	<button class="btn btn-default" id="start-playlist-creation">Let's Create A Playlist</button>

	<!-- Create a Playlist -->
	<div class="form-group"></div>
	<form id="create-playlist" style="display:none">
		<div class="form-group">
			<label for="playlist-name">Name</label>
			<input class="form-control" id="playlist-name">
			<label for="playlist-description">Description</label>
			<textarea class="form-control" rows="3" id="playlist-description"></textarea>
		</div>
		<button class="btn btn-default" type="submit">Create new playlist</button>
		<button class="btn btn-default" id="cancel-playlist-creation" type="button">Cancel</button>
	</form>

	<h1>Your Playlists</h1>
	<!-- Your playlists displayed -->
	<ul id="owner-playlists">
		{% for playlist in ownerPlaylists | reverse %}
			<li>
				<a href="{{ url_for('Playlist', key=playlist.key) }}">{{ playlist.name }}</a>
			</li>
		{% endfor %}
	</ul>
</div>

{% endblock %}