{% extends "base.html" %}

{% block bundles %}
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}

{% block content %}
<!-- Our very own csrf token -->
<meta name="csrf-token" content="{{ csrf_token() }}">

<h1>Start a Playlist</h1>

<!-- Create a Playlist -->
<form id="create-playlist">
	<div class="form-group">
		<label for="playlist-name">Name</label>
		<input class="form-control" id="playlist-name">
		<label for="playlist-description">Description</label>
		<textarea class="form-control" rows="3" id="playlist-description"></textarea>
	</div>
	<button class="btn btn-default" type="submit">Create new playlist</button>
</form>

<h1>Your Playlists</h1>
<!-- Your playlists displayed -->
<ul id="owner-playlists">
	{% for playlist in ownerPlaylists %}
		<li>{{ playlist }}</li>
	{% endfor %}
</ul>

<h1>Nearby Playlists</h1>
<div id="nearby"></div>
<!-- TODO: List nearby playlists -->
{% endblock %}