<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Join a Playlist</title>
</head>
<body>

  <h1>Start a Playlist</h1>

  <!-- Create a Playlist -->
  <form method="POST" id="create-playlist">
    <input id="playlist-name">
    <button type="submit">Create new playlist</button>
  </form>

  <h1>Nearby Playlists</h1>
  <div id="nearby"></div>
  <!-- TODO: List nearby playlists -->


  <!-- JavaScriptses. -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="/static/js/main.js"></script>
</body>
</html>